{"openapi":"3.0.0","info":{"title":"Whatnow","description":"Whatnow front end API documentation","version":"1.0.0"},"servers":[{"url":"https:\/\/whatnow.jazusoft.com\/api","description":"API Base URL"}],"paths":{"\/history":{"get":{"tags":["Historial"],"summary":"List application history","description":"Retrieves the history of application actions","operationId":"listApplicationHistory","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/users\/{id}\/history":{"get":{"tags":["Historial"],"summary":"Get history for a specific user","description":"Retrieves the history of actions performed by a specific user","operationId":"listUserHistory","parameters":[{"name":"id","in":"path","description":"ID of the user whose history is being retrieved","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/history\/{id}":{"get":{"tags":["Historial"],"summary":"Get history entry by ID","description":"Retrieves a specific history entry by its ID","operationId":"getHistoryEntry","parameters":[{"name":"id","in":"path","description":"ID of the history entry to retrieve","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/password\/email":{"post":{"tags":["Auth"],"summary":"Send a password reset link","description":"Sends a password reset link to the given email address","operationId":"sendResetLinkEmail","requestBody":{"required":true,"content":{"application\/json":{"schema":{"properties":{"email":{"description":"The user's email address","type":"string","example":"user@example.com"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}}}},"\/login":{"post":{"tags":["Auth"],"summary":"Login to get JWT token","operationId":"a6488db609b39e727282cdd309161e66","requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["email","password"],"properties":{"email":{"type":"string","example":"email@example.com"},"password":{"type":"string","example":"password123"}},"type":"object"}}}},"responses":{"200":{"description":"Successfully authenticated","content":{"application\/json":{"schema":{"properties":{"token":{"type":"string","example":"your-jwt-token"}},"type":"object"}}}}}}},"\/register":{"post":{"tags":["Auth"],"summary":"Register a new user","description":"Registers a new user and returns a successful response","operationId":"register","requestBody":{"required":true,"content":{"application\/json":{"schema":{"properties":{"email":{"type":"string","example":"user@example.com"},"password":{"type":"string","example":"Securepassword123*"},"password_confirmation":{"type":"string","example":"Securepassword123*"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"country_code":{"type":"string","example":"US"},"organisation":{"type":"string","example":"Company Name"},"industry_type":{"type":"string","example":"Technology"},"api_used_in":{"type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}}}},"\/roles":{"get":{"tags":["Roles"],"summary":"List all roles","description":"Retrieves a list of all roles","operationId":"listRoles","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"properties":{"id":{"description":"Role ID","type":"integer"},"name":{"description":"Role name","type":"string"}},"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/users\/{id}\/resend":{"get":{"tags":["Users"],"summary":"Resend confirmation email","description":"Sends a confirmation email to the user","operationId":"resendConfirmationEmail","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/confirm\/{token}":{"get":{"tags":["Auth"],"summary":"Confirm user account","description":"Confirms the user's account using the provided confirmation token","operationId":"confirm","parameters":[{"name":"token","in":"path","description":"The user confirmation token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}}}},"\/users":{"get":{"tags":["Users"],"summary":"List all users","description":"Returns a list of all users","operationId":"listUsers","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Users"],"summary":"Crear un nuevo usuario","description":"Crea un nuevo usuario con la informaci\u00f3n proporcionada.","operationId":"createUser","requestBody":{"description":"Datos del usuario a crear","required":true,"content":{"application\/json":{"schema":{"required":["email","first_name","last_name","country_code","role_id"],"properties":{"email":{"type":"string","format":"email","example":"john.doe@example.com"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"country_code":{"type":"string","example":"US"},"organisation":{"type":"string","example":"Acme Corp"},"industry_type":{"type":"string","example":"Technology"},"api_used_in":{"type":"string","example":"Internal API"},"role_id":{"type":"integer","example":1}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/users\/admins":{"get":{"tags":["Users"],"summary":"List all admin users","description":"Returns a list of all admin users","operationId":"listAdmins","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/users\/{id}":{"get":{"tags":["Users"],"summary":"Get a specific user by ID","description":"Returns details of a specific user identified by their ID","operationId":"viewUser","parameters":[{"name":"id","in":"path","description":"ID of the user to retrieve","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Users"],"summary":"Delete a user","description":"Deletes a user by their ID","operationId":"deleteUser","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Users"],"summary":"Update user information","description":"Updates a user's details with the provided information","operationId":"updateUser","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"properties":{"email":{"type":"string","format":"email"},"password":{"type":"string"},"first_name":{"type":"string","maxLength":191},"last_name":{"type":"string","maxLength":191},"country_code":{"type":"string","maxLength":2},"organisation":{"type":"string","maxLength":191},"industry_type":{"type":"string","maxLength":191},"terms_version":{"type":"string","maxLength":10},"accepted_agreement":{"type":"boolean"},"api_used_in":{"nullable":true,"type":"string","maxLength":255},"role_id":{"type":"integer"},"organisations":{"type":"array","items":{"type":"string","maxLength":3,"minLength":3}},"confirmed_role":{"nullable":true,"type":"boolean"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/users\/me":{"get":{"tags":["Users"],"summary":"Obtener la informaci\u00f3n del usuario autenticado","description":"Retorna la informaci\u00f3n del usuario autenticado, incluyendo sus organizaciones, roles y permisos.","operationId":"getAuthenticatedUser","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/users\/{id}\/deactivate":{"post":{"tags":["Users"],"summary":"Deactivate a user","description":"Deactivates an active user","operationId":"deactivateUser","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/users\/{id}\/reactivate":{"post":{"tags":["Users"],"summary":"Reactivate a user","description":"Reactivates a deactivated user","operationId":"reactivateUser","parameters":[{"name":"id","in":"path","description":"User ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/upload-file":{"post":{"tags":["Files"],"summary":"Upload a file","description":"Uploads a file to the server","operationId":"uploadFile","requestBody":{"required":true,"content":{"multipart\/form-data":{"schema":{"required":["file"],"properties":{"file":{"description":"File to be uploaded","type":"string","format":"binary"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/terms\/latest":{"get":{"tags":["Terms"],"summary":"Get the latest terms","description":"Returns the latest terms and conditions","operationId":"getLatestTerms","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/terms":{"get":{"tags":["Terms"],"summary":"List all terms","description":"Retrieves a paginated list of all terms ordered by the latest version.","operationId":"listTerms","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Terms"],"summary":"Create new terms","description":"Creates a new version of terms and conditions","operationId":"createTerms","requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["version","content"],"properties":{"version":{"description":"Version number of the terms","type":"number","example":1},"content":{"description":"Content of the terms","type":"string","maxLength":65535}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/terms\/all":{"get":{"tags":["Terms"],"summary":"List all terms","description":"Retrieves a list of all terms","operationId":"listAllTerms","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/translations\/{locale}":{"get":{"tags":["Translation"],"summary":"Get translations for a specific locale","description":"Retrieves the translation file for the given locale","operationId":"getTranslations","parameters":[{"name":"locale","in":"path","description":"Locale code for the translations","required":true,"schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/apps":{"get":{"tags":["Applications"],"summary":"List all applications","description":"Retrieves a list of applications available for the authenticated user","operationId":"listApplications","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Applications"],"summary":"Create a new application","description":"Creates a new application with the provided details","operationId":"createApplication","requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["name","estimatedUsers"],"properties":{"name":{"description":"Name of the application","type":"string","example":"MyApp"},"description":{"nullable":true,"description":"Description of the application","type":"string","example":"This is a sample application."},"estimatedUsers":{"description":"Estimated number of users","type":"integer","example":1000}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/apps\/{id}":{"get":{"tags":["Applications"],"summary":"Get application by ID","description":"Retrieves a specific application by its ID","operationId":"getApplication","parameters":[{"name":"id","in":"path","description":"ID of the application to retrieve","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Applications"],"summary":"Delete an application","description":"Deletes an application by its ID","operationId":"deleteApplication","parameters":[{"name":"id","in":"path","description":"ID of the application to delete","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Applications"],"summary":"Update application estimated users","description":"Updates the estimated number of users for a specific application","operationId":"updateApplication","parameters":[{"name":"id","in":"path","description":"ID of the application to update","required":true,"schema":{"type":"integer","example":1}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["estimatedUsers"],"properties":{"estimatedUsers":{"description":"Updated estimated number of users","type":"integer","example":5000}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/event-types\/":{"get":{"tags":["EventTypes"],"summary":"Get a list of event types","description":"Returns a list of all event types","operationId":"listEventTypes","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["EventTypes"],"summary":"Create a new event type","description":"Creates a new event type with the provided name and icon","operationId":"createEventType","requestBody":{"required":true,"content":{"multipart\/form-data":{"schema":{"required":["name","icon"],"properties":{"name":{"description":"The name of the event type","type":"string"},"icon":{"description":"The icon file for the event type","type":"string","format":"binary"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/organisations\/{countryCode}\/instructions":{"get":{"tags":["Instructions"],"summary":"Get instructions by country code","description":"Returns a list of published instructions filtered by the specified country code","operationId":"listInstructionsByCountryCode","parameters":[{"name":"countryCode","in":"path","description":"The country code to filter instructions by","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}},"meta":{"properties":{"availableLanguages":{"type":"array","items":{"type":"string"}}},"type":"object"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/organisations\/instructions\/export":{"get":{"tags":["Instructions"],"summary":"Export instructions as CSV","description":"Exports a CSV file containing instruction data","operationId":"exportCsv","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/organisations\/{countryCode}\/instructions\/revisions\/latest":{"get":{"tags":["Instructions"],"summary":"List latest draft instructions by country code","description":"Retrieves the latest draft instructions for a given country code","operationId":"listLatestDraftsByCountryCode","parameters":[{"name":"countryCode","in":"path","description":"Country code to filter the latest draft instructions","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/instructions\/{id}":{"get":{"tags":["Instructions"],"summary":"Get instruction by ID","description":"Retrieves a specific instruction by its ID","operationId":"viewInstruction","parameters":[{"name":"id","in":"path","description":"ID of the instruction to retrieve","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Instructions"],"summary":"Update an existing instruction","description":"Updates an instruction with new data","operationId":"updateInstruction","parameters":[{"name":"id","in":"path","description":"ID of the instruction to update","required":true,"schema":{"type":"integer","example":1}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["countryCode","eventType","translations"],"properties":{"countryCode":{"description":"Country code (3-letter ISO format)","type":"string","example":"USA"},"eventType":{"description":"Type of event","type":"string","maxLength":50,"example":"conference"},"translations":{"description":"Array of translations","type":"array","items":{"required":["lang","title","description"],"properties":{"lang":{"description":"Language code (2-letter ISO format)","type":"string","example":"en"},"title":{"description":"Title of the instruction","type":"string","example":"Safety Guidelines"},"description":{"description":"Description of the instruction","type":"string","example":"Follow these steps to ensure safety."},"webUrl":{"nullable":true,"description":"Optional URL for additional information","type":"string","format":"url","example":"https:\/\/example.com"}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Instructions"],"summary":"Delete an instruction","description":"Deletes an instruction by its ID","operationId":"deleteInstruction","parameters":[{"name":"id","in":"path","description":"ID of the instruction to delete","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/instructions\/{id}\/revisions\/latest":{"get":{"tags":["Instructions"],"summary":"Get latest draft revision of an instruction","description":"Retrieves the latest draft revision of a specific instruction by its ID","operationId":"viewLatestDraft","parameters":[{"name":"id","in":"path","description":"ID of the instruction to retrieve the latest draft revision","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/instructions":{"post":{"tags":["Instructions"],"summary":"Create a new instruction","description":"Creates a new instruction with translations","operationId":"createInstruction","requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["countryCode","eventType","translations"],"properties":{"countryCode":{"description":"Country code (3-letter ISO format)","type":"string","example":"USA"},"eventType":{"description":"Type of event","type":"string","maxLength":50,"example":"conference"},"translations":{"description":"Array of translations","type":"array","items":{"required":["lang","title","description"],"properties":{"lang":{"description":"Language code (2-letter ISO format)","type":"string","example":"en"},"title":{"description":"Title of the instruction","type":"string","example":"Safety Guidelines"},"description":{"description":"Description of the instruction","type":"string","example":"Follow these steps to ensure safety."},"webUrl":{"nullable":true,"description":"Optional URL for additional information","type":"string","format":"url","example":"https:\/\/example.com"}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/instructions\/{id}\/revisions\/":{"post":{"tags":["Instructions"],"summary":"Create a translation for an instruction","description":"Creates a new translation for a specific instruction by its ID","operationId":"createTranslation","parameters":[{"name":"id","in":"path","description":"ID of the instruction","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["lang","title","description"],"properties":{"lang":{"description":"Language code (ISO 639-1, 2 characters)","type":"string"},"title":{"description":"Title of the instruction","type":"string"},"description":{"description":"Description of the instruction","type":"string"},"stages":{"description":"Array of stages","type":"array","items":{"type":"string"}}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/instructions\/{id}\/revisions\/{translationId}":{"patch":{"tags":["Instructions"],"summary":"Publish or unpublish a translation","description":"Updates the publication status of a specific translation for an instruction","operationId":"publishTranslation","parameters":[{"name":"id","in":"path","description":"ID of the instruction","required":true,"schema":{"type":"integer"}},{"name":"translationId","in":"path","description":"ID of the translation","required":true,"schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["published"],"properties":{"published":{"description":"Publication status (true for published, false for unpublished)","type":"boolean"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/instructions\/{countryCode}\/publish":{"post":{"tags":["Instructions"],"summary":"Publish translations for a given country","description":"Publishes instruction translations for a specific country code","operationId":"publishTranslations","parameters":[{"name":"countryCode","in":"path","description":"Country code for which translations will be published","required":true,"schema":{"type":"string","example":"USA"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["translations"],"properties":{"translations":{"type":"array","items":{"required":["id","lang","eventType"],"properties":{"id":{"type":"integer","example":1},"lang":{"type":"string","example":"en"},"eventType":{"type":"string","example":"concert"}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/organisations\/{countryCode}":{"get":{"tags":["Organisation"],"summary":"Get organisations by country code","description":"Returns a list of organisations filtered by the specified country code","operationId":"getOrganisationsByCountryCode","parameters":[{"name":"countryCode","in":"path","description":"The country code to filter organisations by","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/organisations":{"get":{"tags":["Organisation"],"summary":"List all organisations","description":"Returns a list of all organisations","operationId":"listOrganisations","responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/subnationals\/{country_code}":{"get":{"tags":["Regions"],"summary":"Get all subnationals for an organisation","description":"Retrieves all subnationals associated with a given country code","operationId":"getAllRegionsForOrganisation","parameters":[{"name":"country_code","in":"path","description":"Country code for which the subnationals are retrieved","required":true,"schema":{"type":"string","example":"USA"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/subnationals\/{country_code}\/{code}":{"get":{"tags":["Regions"],"summary":"Get a specific subnational by country code and subnational code","description":"Retrieves a specific subnational based on the provided country code and subnational code","operationId":"getRegionForCountryCode","parameters":[{"name":"country_code","in":"path","description":"Country code to filter the subnational","required":true,"schema":{"type":"string","example":"USA"}},{"name":"code","in":"path","description":"Region code to filter the subnational","required":true,"schema":{"type":"string","example":"NY"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/subnationals":{"post":{"tags":["Regions"],"summary":"Create a new subnational","description":"Creates a new subnational with the provided details","operationId":"createRegion","requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["countryCode","title"],"properties":{"countryCode":{"description":"Country code (3-letter ISO format)","type":"string","example":"USA"},"title":{"description":"Title of the subnational","type":"string","example":"New York"},"slug":{"nullable":true,"description":"Slug for the subnational","type":"string","example":"new-york"},"translations":{"description":"Array of translations","type":"array","items":{"properties":{"webUrl":{"nullable":true,"description":"Optional URL for additional information","type":"string","format":"url","example":"https:\/\/example.com"},"lang":{"description":"Language code (2-letter ISO format)","type":"string","example":"en"},"title":{"description":"Title translation","type":"string","example":"Nueva York"},"description":{"description":"Description translation","type":"string","example":"Regi\u00f3n de Nueva York"}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/subnationals\/subnational\/{regionId}":{"put":{"tags":["Regions"],"summary":"Update an existing subnational","description":"Updates a subnational with new data","operationId":"updateRegion","parameters":[{"name":"regionId","in":"path","description":"ID of the subnational to update","required":true,"schema":{"type":"integer","example":1}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["countryCode","title"],"properties":{"countryCode":{"description":"Country code (3-letter ISO format)","type":"string","example":"USA"},"title":{"description":"Title of the subnational","type":"string","example":"New York"},"slug":{"nullable":true,"description":"Slug for the subnational","type":"string","example":"new-york"},"translations":{"description":"Array of translations","type":"array","items":{"properties":{"webUrl":{"nullable":true,"description":"Optional URL for additional information","type":"string","format":"url","example":"https:\/\/example.com"},"lang":{"description":"Language code (2-letter ISO format)","type":"string","example":"en"},"title":{"description":"Title translation","type":"string","example":"Nueva York"},"description":{"description":"Description translation","type":"string","example":"Regi\u00f3n de Nueva York"}},"type":"object"}}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Regions"],"summary":"Delete a subnational","description":"Deletes a subnational by its ID","operationId":"deleteRegion","parameters":[{"name":"regionId","in":"path","description":"ID of the subnational to delete","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/usage\/applications":{"get":{"tags":["Usage"],"summary":"Obtiene el conteo de solicitudes de aplicaciones","description":"Retorna una lista de solicitudes de aplicaciones dentro de un rango de fechas espec\u00edfico.","operationId":"listApplicationRequestCount","parameters":[{"name":"fromDate","in":"query","description":"Fecha de inicio para el filtro de solicitudes","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","description":"Fecha de fin para el filtro de solicitudes","required":true,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"N\u00famero de p\u00e1gina para la paginaci\u00f3n","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/usage\/endpoints":{"post":{"tags":["Usage"],"summary":"Obtiene el conteo de solicitudes de endpoints","description":"Retorna una lista de solicitudes de endpoints dentro de un rango de fechas espec\u00edfico.","operationId":"listEndpointRequestCount","requestBody":{"description":"Datos para filtrar las solicitudes de endpoints","required":true,"content":{"application\/json":{"schema":{"required":["fromDate","toDate"],"properties":{"fromDate":{"type":"string","format":"date","example":"2023-01-01"},"toDate":{"type":"string","format":"date","example":"2023-12-31"},"page":{"type":"integer","example":1}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/usage\/export\/applications":{"post":{"tags":["Usage"],"summary":"Exporta el uso de aplicaciones en formato CSV","description":"Genera y devuelve un archivo CSV con el uso de aplicaciones dentro de un rango de fechas espec\u00edfico.","operationId":"exportApplicationUsageCsv","requestBody":{"description":"Datos para filtrar la exportaci\u00f3n de uso de aplicaciones","required":false,"content":{"application\/json":{"schema":{"properties":{"fromDate":{"type":"string","format":"date","example":"2023-01-01"},"toDate":{"type":"string","format":"date","example":"2023-12-31"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/usage\/export\/endpoints":{"post":{"tags":["Usage"],"summary":"Exporta el uso de endpoints en formato CSV","description":"Genera y devuelve un archivo CSV con el uso de endpoints dentro de un rango de fechas espec\u00edfico.","operationId":"exportEndpointUsageCsv","requestBody":{"description":"Datos para filtrar la exportaci\u00f3n de uso de endpoints","required":false,"content":{"application\/json":{"schema":{"properties":{"fromDate":{"type":"string","format":"date","example":"2023-01-01"},"toDate":{"type":"string","format":"date","example":"2023-12-31"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/usage\/totals":{"get":{"tags":["Usage"],"summary":"Obtiene los totales de uso","description":"Endpoint para obtener los totales de uso basados en los filtros proporcionados.","operationId":"getTotals","requestBody":{"description":"Par\u00e1metros opcionales para filtrar los resultados","content":{"application\/json":{"schema":{"properties":{"society":{"type":"string","example":"Ejemplo Sociedad"},"subnational":{"type":"integer","example":1},"hazard":{"type":"string","example":"Ejemplo Peligro"},"date":{"type":"string","format":"date","example":"2023-01-01"},"language":{"type":"string","example":"es"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/import\/{countryCode}\/{languageCode}":{"post":{"tags":["WhatNowImport"],"summary":"Import a CSV file","description":"Imports a CSV file for a specific country and language","operationId":"importCsv","parameters":[{"name":"countryCode","in":"path","description":"Country code for the import","required":true,"schema":{"type":"string","example":"USA"}},{"name":"languageCode","in":"path","description":"Language code for the import","required":true,"schema":{"type":"string","example":"en"}}],"requestBody":{"required":true,"content":{"multipart\/form-data":{"schema":{"required":["csv"],"properties":{"csv":{"description":"CSV file to import","type":"string","format":"binary"}},"type":"object"}}}},"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/template\/{country_code}":{"get":{"tags":["WhatNowImport"],"summary":"Export a blank CSV template","description":"Exports a blank CSV template for a given country","operationId":"exportBlankCsvTemplate","parameters":[{"name":"country_code","in":"path","description":"Country code for which the blank template is generated","required":true,"schema":{"type":"string","example":"USA"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/template\/{country_code}\/{language_code}":{"get":{"tags":["WhatNowImport"],"summary":"Export a CSV template","description":"Exports a CSV template for a given country and language","operationId":"exportCsvTemplate","parameters":[{"name":"country_code","in":"path","description":"Country code for which the template is generated","required":true,"schema":{"type":"string","example":"USA"}},{"name":"language_code","in":"path","description":"Language code for the template","required":true,"schema":{"type":"string","example":"en"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"properties":{"data":{"type":"array","items":{"type":"object"}}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}}},"tags":[{"name":"Historial","description":"Operations about historial"},{"name":"Auth","description":"Operations about authentication"},{"name":"Roles","description":"Operations about roles"},{"name":"Users","description":"Operations about users"},{"name":"Files","description":"Operations about Files"},{"name":"Terms","description":"Operations about Terms"},{"name":"Translation","description":"Operations about translation"},{"name":"Applications","description":"Operations about applications"},{"name":"EventTypes","description":"Operations about Event Types"},{"name":"Instructions","description":"Operations about Messages\/Supporting Messages\/Translations"},{"name":"Organisation","description":"Operations about Organisations"},{"name":"Regions","description":"Operations about Regions"},{"name":"Usage","description":"Operations about usage of endpoints"},{"name":"WhatNowImport","description":"Operations about bulk upload"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Enter token in format (Bearer <token>)"}}}}
