.btn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 7px 25px;
  font-size: 14px;
  font-weight: 600;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }

  &:hover {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }


  &.is-circle {
    height: 20px;
    width: 20px;
    background-color: #6d6e70;
    border-radius: 20px;
    padding: 0;
  }
}

.btn-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
  }
}

.button-go {
  padding: 0.2rem 1.2rem;
  font-size: 20px;
  font-weight: 600;
}

.btn-primary {
  background-color: $bg-primary;
  color: $white;
}

.btn-outline-primary {
  background-color: $white;
  border: 2px solid $bg-primary;
  color: $bg-primary;
  padding: 0px 20px;

  &:hover {
    background-color: $bg-primary;
    color: $white;
  }
}

.btn-lg {
  padding: 7px 25px;
  border-radius: 25px;
  min-height: 48px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;

  &:hover {
    background-color: $bg-primary;
  }

  &:disabled {
    background-color: $bg-disabled;
  }
}
.vs--disabled {
  .vs__dropdown-toggle,
  .vs__clear,
  .vs__search,
  .vs__selected,
  .vs__open-indicator {
    background-color: #E9E9E9;
  }
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
