.styled-input {
  outline: none;
  align-items: center;
  border: none!important;
  border-bottom: 1px solid transparent;
  border-radius: 10px;
  background-color: #e9e9e9;
  height: 50px;
  border-bottom: 1pt solid transparent;
  box-shadow: none;

  &:focus {
    outline: none;
    border: none!important;
    border-bottom: 1px solid #f6333f!important;
    box-shadow: none;
    background-color: #e9e9e9;
  }
}

.styled-input.is-invalid {
  &:focus {
    box-shadow: none!important;
  }
}

textarea {
  &.styled-input {
    min-height: 201px;
  }
}

.styled-label {
  color: #000000;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 6px;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  position: relative;

  .is-required {
    width: 10px;
    height: 10px;

    &::before {
      content: "*";
      color: #f6333f;
      font-size: 20px;
      position: absolute;
      top: -4px;
      right: -16px;
    }
  }


}

.v-select-custom > div {
  background: #E9E9E9;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;

}
