.styled-input {
  border-radius: 12px;
  outline: none;
  border-color: #e5e5e5;
  box-shadow: 0 0 0px 4px transparent;
  transition: box-shadow 0.3s ease-out;

  &:focus {
    outline: none;
    border-color: #e5e5e5;
    box-shadow: 0 0 0px 3px #e5e5e5;
  }
}

textarea {
  &.styled-input {
    min-height: 100px;
  }
}

.styled-label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #000000;
  text-transform: uppercase;
}