.site-footer {
  ul {
    font-size: em(6); // Reduced font size
    li {
      margin-bottom: 0.5rem; // Reduced margin
    }
  }

  &__heading {
    font-size: em(10); // Reduced font size
    min-height: 45px; // Reduced height
    white-space: nowrap;
  }

  a {
    color: white;
    text-decoration: none;
  }

  &__logo {
    height: 40px; // Reduced height
  }
}
