.home-page {
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-card {
    background: #F7F7F7;
  ;
    .card-title {
      font-size:em(30)
    }
    .card-text {
      color: #6d6e70;
      font-size:em(18)
    }
  }

}
