.c-default-radio-checkbox__label {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size: em(30);
  color: #A8A8A8;
  transition: $global-transition;

  &:before {
    content: '';
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    transition: $global-transition;
    position: relative;
    background-image: url('../../img/no-checked-icon.svg');
    top: -2px;
  }
}

.c-default-radio-checkbox__input:checked + .c-default-radio-checkbox__label {
  color: #F6333F;
  &:before {
    background-color: transparent;
    border: none;
    background-image: url('../../img/checked-icon.svg');
    background-size: cover;
    outline: none;
  }
}

//old
.c-radio-checkbox__label {
  color: $grey;
  transition: $global-transition;
  &:before {
    content: '';
    background-color: $selection-colour-unselected;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    display: inline-block;
    border-radius: 50%;
    transition: $global-transition;
    border: 2px solid $selection-colour-unselected;
    position: relative;
    top: 6px;
    display: inline-block;
    margin-right: 5px;
  }
}

.c-radio-checkbox__input:checked + .c-radio-checkbox__label {
  color: $black;
  &:before {
    background-color: $selection-colour-selected;
    border: 2px solid $selection-colour-selected;
    background-image: url('../../img/check-icon.svg');
  }
}

.c-radio-checkbox__input:focus + .c-radio-checkbox__label {
  &:before {
    border: 2px solid $grey;
  }
}
