.register-form-container {
  background:white;
  hr {
    border-top:1px solid #f2f2f2;
  }
  h1 {
    font-size:em(54);
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.4px;
    max-width: 700px;
    margin:0 auto;
    display:block;
    @media screen and (max-width:767px) {
      font-size:em(24);
    }
  }
  .col-lg-6 {
    @media screen and (min-width:992px) {
      max-width: 550px;
    }
  }
  .styled-input {
    padding:13px;
    letter-spacing: 0.4px;
    height:45px;
    &::placeholder {
      color:#aaaaaa;
    }
    &.custom-select {
      height:45px !important;
      &.is-placeholder {
        color:#aaaaaa;
        option {
          color: rgb(73, 80, 87);
        }
      }
    }
  }
  .register-form__contact-gdpc {
    @include font-size(18px);
    max-width: 308px;
    width: 100%;
    @media screen and (max-width: 380px) {
      @include font-size(15px);
    }
    @media screen and (min-width: 380px) {
      height: 72px;
      line-height: 1.8;
    }
  }
}
