body {
  font-family: Poppins, sans-serif;
}

.sec-title {
  font-size: 2.8rem;
  font-weight: 600;
}

.page-item.active .page-link {
  background-color: red;
  border-color: white;
}

.login-section {
  background: white;
}
