// // Body
$body-bg: #ffffff;

// base colours
$white: #ffffff;
$black: #000000;
$red: #f6333f;
$grey: #6d6e70;
$grey2: #DFE2E6;
$blue : #4267B2;
$light-red: #ee3224;
$dark: #1e1e1e;

// text colours
$text-color: $black;
$text-primary: $red;
$text-dark: $dark;
$text-white: $white;
$text-black: $black;
$light-text: $grey;

// core colours
$primary-colour: $black;
$secondary-colour: $red;

// Form elements
$selection-colour-selected: #7ed321;
$selection-colour-unselected: #d8d8d8;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-cap-2-bg: #dcd9d95c;
$card-border-color: #e8eced;
$card-border-radius: 0.7rem;
$card-gradient-bg: linear-gradient(80deg, $card-cap-bg 28%, $card-cap-2-bg 111%);
$card-solid-bg: #f7f7f7;

// Alerts
$alert-border-radius: 0.7rem;
$alert-terms-background: #786a65;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;
$border-primary-1: solid 1px $red;
$border-primary-2: solid 2px $red;
$border-primary-3: solid 3px $red;


// Nav Pills
$nav-pills-border-radius: 0;

// sidebar
$sidebar-width-open: 13rem;
$sidebar-collapsed-breakpoint: 1550px;

// buttons
$facebook-blue: #00447c;
$google-red: $light-red;
$bg-primary: $red;
$bg-disabled: #e9e9e9;

// Font
$font-size-base: 0.75rem;

// Hazard instrution colours
$hazard-default: #857d7a;
$mid-term: #006a72;
$seasonalForecast: #00bcd6;
$watch: #c5d86d;
$warning: #ffc200;
$immediate: #ee3224;
$recover: #5c3160;

// Alert severity
$alert-extreme: #ee3224;
$alert-severe: #786a65;
$alert-moderate: #ff5113;
$alert-minor: #009ddb;
$alert-unknown: $hazard-default;


// Font size
$global-font-size: 14px;
$global-baseline: 6px;

// Transitions
$global-transition: all 300ms ease-in-out;

//icons
$icon-not-active: #a8a8a8;
$icon-active: #f6333f;

